.style{
    text-align: center;
    font-family: serif;
    font-size: xx-large;
   padding: 20px;
   text-shadow: 2px 2px 5px black;
}
  

img {
    display: block;
margin-left: auto;
margin-right: auto;
}

div.sticky-top {
position: -webkit-sticky;
position: sticky;
top: 0;
font-size: 20px;
}
h2{
    font-family: serif;
    text-shadow: 2px 2px 5px black;
}
.description{
    padding:20px 60px ;
    font-family: serif;
    font-size: medium;
    background-color: rgb(223, 241, 241);
}
.svit-image{
padding-top: 20px;
width: 80%;
 height:400px;
}
.marquee1{
    padding-top: 30px;
}
footer{
    background-color: rgb(249, 245, 245);
    color: rgb(113, 113, 14);
}
#campus{
    position:relative;
    left: 40%;
    font-family: serif;
    font-size: xx-large;
    text-shadow: 2px 2px 5px black;
    
}
h4{
text-align: center;
}
#map{
    position: relative;
    left: 5px;
}
iframe{
    position: relative;
    left: 90px;
    height: 90px;
}
#rec{
    height: 90px;
}
